.press-start-2p-regular 
  font-family: "Press Start 2P", system-ui
  font-weight: 400
  font-style: normal

.kosugi-maru-regular 
  font-family: "Kosugi Maru", sans-serif
  font-weight: 400
  font-style: normal

body
    min-height: 100vh
    background: #1e1e1e

nav
    display: flex
    justify-content: space-between
    align-items: center
    background: #1e1e1e
    font-size: 20px
    font-weight: 700
    
    section
        display: flex
        justify-content: center
        align-items: center
        flex-direction: row
        margin-left: 100px

        img
            width: 50px
            height: 50px
            border-radius: 50%
            margin-right: 10px

        h3
            color: #44E4E5
            font-size: 30px
            font-weight: 700
            letter-spacing: 1px

    ul  
        display: flex
        list-style: none
        margin: 0
        margin-right: 100px
        padding: 0

    li
        list-style: none
        margin: 0 20px
        cursor: pointer
        transition: all 0.3s ease-in-out

        a
            text-decoration: none
            color: #44E4E5
            font-family: "Press Start 2P", system-ui
            font-weight: 700
            letter-spacing: 2px
            transition: all 0.3s ease-in-out

        a:hover
            color: #C94558
            transition: all 0.3s ease-in-out

    li:hover
        transform: scale(1.05)
        transition: all 0.3s ease-in-out

header
    .stardewBG
        display: flex
        background-image: url("../Assets/stardewBG.png")
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        height: 100%
        width: 100%
        transition: all 0.3s ease-in-out
        position: relative

    .container
        position: absolute
        bottom: -20vh
        left: 15vw
        width: auto
        box-sizing: border-box
        padding: 10px

    .imgCont
        position: absolute
        bottom: -20vh
        left: 10px
        width: auto
        box-sizing: border-box
        padding: 10px

        img
            width: 200px
            height: 200px
            margin-right: 10px

    .genre
        display: flex
        flex-wrap: wrap
        justify-content: start
        align-items: center

    p 
        font-family: "Kosugi Maru", sans-serif
        text-align: left
        color: #ffffff
        font-size: 14px
        letter-spacing: 0px
        padding: 4px 12px
        margin: 10px 6px 0
        border: 1px solid #ffffff
        background: linear-gradient(90deg, #C94558 50%, transparent 50%)
        background-size: 200% 100%
        background-position: 100% 0
        transition: all 0.3s ease-in-out 
    
        
    section
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column  
        height: 85vh

        h1
            color: #ffffff
            font-size: 36px
            font-family: "Press Start 2P", system-ui
            font-weight: 700    
            letter-spacing: 1px
            margin: 0 10px
            margin-top: 20px

        h4
            color: #ffffff
            font-size: 24px
            font-family: "Kosugi Maru", sans-serif
            font-weight: 700    
            letter-spacing: 1px
            margin: 0 10px
            margin-top: 5px

.lightShade
    bottom: -20vh
    width: 100%
    box-sizing: border-box
    box-shadow: 0 2px 20px 0 #F1E9EA
