@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
* {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
  background: #1e1e1e;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding: 10px 0;
  background: #1e1e1e;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}
nav section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 100px;
}
nav section img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
nav section h3 {
  color: #44E4E5;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  margin-right: 100px;
  padding: 0;
}
nav li {
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
nav li a {
  text-decoration: none;
  color: #44E4E5;
  font-family: "Press Start 2P", system-ui;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #C94558;
  transition: all 0.3s ease-in-out;
}
nav li:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

header {
  padding: 10px 0;
  background: #1e1e1e;
}
header h3 {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 10px;
  margin-left: 100px;
  margin-top: 100px;
  text-shadow: 3px 3px 0px #A120C7;
}
header p {
  color: #2CEDEC;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 10px;
}
header button {
  background: #304579;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.8);
  color: #44E4E5;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
  width: 250px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
header button:hover {
  background: #C94558;
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.7);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}
header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}
header section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  margin-top: 50px;
  background-image: url("/Assets/riot_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header section h1 {
  color: #ffffff;
  font-size: 72px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 10px;
  text-shadow: 10px 9px 0px #C94558;
}
header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  margin: 70px;
  padding: 40px;
  gap: 40px;
  text-align: center;
  border-radius: 4px;
  background: rgba(14, 14, 14, 0.5);
}

.gameWeekContainer section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 40px;
  gap: 40px;
  text-align: center;
}
.gameWeekContainer section h4 {
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 10px;
  text-shadow: 4px -1px 0px #44E4E5, 3px 6px 0px #D9178D;
}
.gameWeekContainer section h4 p {
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0px;
  margin: 0 10px;
  text-shadow: 3px -0.5px 0px #44E4E5, 2px 3px 0px #D9178D;
}
.gameWeekContainer section .gameWeekImg {
  display: flex;
  gap: 50px;
}
.gameWeekContainer section .gameWeekImg .ticTacToe {
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.gameWeekContainer section .gameWeekImg .ticTacToe img {
  width: 200px;
  height: 200px;
  border: 5px solid #936464;
  box-shadow: 0px 0px 40px 5px #936464;
  transition: all 0.3s ease-in-out;
}
.gameWeekContainer section .gameWeekImg .ticTacToe img:hover {
  box-shadow: 0px 0px 10px 5px #936464;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}
.gameWeekContainer section .gameWeekImg .ticTacToe h6 {
  text-align: left;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0px;
  margin: 0 10px;
  margin-top: 20px;
}
.gameWeekContainer section .gameWeekImg .ticTacToe p {
  font-family: "Kosugi Maru", sans-serif;
  text-align: left;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0px;
  margin: 0 10px;
  margin-top: 10px;
}
.gameWeekContainer section .gameWeekImg .valorant {
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.gameWeekContainer section .gameWeekImg .valorant img {
  width: 200px;
  height: 200px;
  border: 5px solid #FF4654;
  box-shadow: 0px 0px 40px 5px #FF4654;
  transition: all 0.3s ease-in-out;
}
.gameWeekContainer section .gameWeekImg .valorant img:hover {
  box-shadow: 0px 0px 10px 5px #FF4654;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}
.gameWeekContainer section .gameWeekImg .valorant h6 {
  text-align: left;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0px;
  margin: 0 10px;
  margin-top: 20px;
}
.gameWeekContainer section .gameWeekImg .valorant p {
  font-family: "Kosugi Maru", sans-serif;
  text-align: left;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0px;
  margin: 0 10px;
  margin-top: 10px;
}
.gameWeekContainer section .gameWeekImg .stardewValley {
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.gameWeekContainer section .gameWeekImg .stardewValley img {
  width: 200px;
  height: 200px;
  border: 5px solid #1A7BC7;
  box-shadow: 0px 0px 40px 5px #1A7BC7;
  transition: all 0.3s ease-in-out;
}
.gameWeekContainer section .gameWeekImg .stardewValley img:hover {
  box-shadow: 0px 0px 10px 5px #1A7BC7;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}
.gameWeekContainer section .gameWeekImg .stardewValley h6 {
  text-align: left;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0px;
  margin: 0 10px;
  margin-top: 20px;
}
.gameWeekContainer section .gameWeekImg .stardewValley p {
  font-family: "Kosugi Maru", sans-serif;
  text-align: left;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0px;
  margin: 0 10px;
  margin-top: 10px;
}

.communitiesContainer h3 {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 10px;
  margin-left: 100px;
  margin-top: 100px;
  text-shadow: 3px 3px 0px #A120C7;
}
.communitiesContainer section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 100%;
}
.communitiesContainer section .sectionrow1 .text-block {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.communitiesContainer section .sectionrow1 .text-block h6 {
  font-family: "Press Start 2P", system-ui;
  text-align: left;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0px;
  margin: 0 10px;
}
.communitiesContainer section .sectionrow1 .text-block p {
  font-family: "Kosugi Maru", sans-serif;
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0px;
  margin: 0 10px;
}
.communitiesContainer section .sectionrow1 .game {
  display: flex;
  position: relative;
  width: 600px;
  height: 200px;
  margin: 60px 30px;
  border: 2px solid #471F9A;
  box-shadow: 0px 0px 20px 10px #000000;
  transition: all 0.3s ease-in-out;
}
.communitiesContainer section .sectionrow1 .game img {
  width: 600px;
  height: 200px;
}
.communitiesContainer section .sectionrow2 .text-block {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.communitiesContainer section .sectionrow2 .text-block h6 {
  font-family: "Press Start 2P", system-ui;
  text-align: left;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0px;
  margin: 0 10px;
}
.communitiesContainer section .sectionrow2 .text-block p {
  font-family: "Kosugi Maru", sans-serif;
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0px;
  margin: 0 10px;
}
.communitiesContainer section .sectionrow2 .game {
  display: flex;
  position: relative;
  width: 600px;
  height: 200px;
  margin: 60px 30px;
  border: 2px solid #471F9A;
  box-shadow: 0px 0px 20px 10px #000000;
  transition: all 0.3s ease-in-out;
}
.communitiesContainer section .sectionrow2 .game img {
  width: 600px;
  height: 200px;
}

.newReleaseContainer h3 {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 10px;
  margin-left: 100px;
  margin-top: 100px;
  text-shadow: 3px 3px 0px #A120C7;
}
.newReleaseContainer section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
  width: 100%;
}
.newReleaseContainer section .text-block h6 {
  text-align: left;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0px;
  margin: 0 10px;
  margin-top: 20px;
}
.newReleaseContainer section .text-block .genre {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.newReleaseContainer section .text-block p {
  font-family: "Kosugi Maru", sans-serif;
  text-align: left;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0px;
  padding: 0 10px;
  margin: 0 2px;
  margin-top: 10px;
  border: 1px solid #ffffff;
}
.newReleaseContainer section .tictactoe {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.newReleaseContainer section .tictactoe img {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  border: 5px solid #936464;
  box-shadow: 0px 0px 40px 5px #936464;
  transition: all 0.3s ease-in-out;
}
.newReleaseContainer section .tictactoe img:hover {
  box-shadow: 0px 0px 10px 5px #936464;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}
.newReleaseContainer section .palworld {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.newReleaseContainer section .palworld img {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  border: 5px solid #10BDBE;
  box-shadow: 0px 0px 40px 5px #10BDBE;
  transition: all 0.3s ease-in-out;
}
.newReleaseContainer section .palworld img:hover {
  box-shadow: 0px 0px 10px 5px #10BDBE;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}
.newReleaseContainer section .sololeveling {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.newReleaseContainer section .sololeveling img {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  border: 5px solid #FDD93B;
  box-shadow: 0px 0px 40px 5px #FDD93B;
  transition: all 0.3s ease-in-out;
}
.newReleaseContainer section .sololeveling img:hover {
  box-shadow: 0px 0px 10px 5px #FDD93B;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}
.newReleaseContainer section .lethalcompany {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.newReleaseContainer section .lethalcompany img {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  border: 5px solid #C94558;
  box-shadow: 0px 0px 40px 5px #C94558;
  transition: all 0.3s ease-in-out;
}
.newReleaseContainer section .lethalcompany img:hover {
  box-shadow: 0px 0px 10px 5px #C94558;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}/*# sourceMappingURL=style.css.map */